/.DS_Store
/CorgiCode.xcodeproj/xcuserdata/jessicamcavazoserhard.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/CorgiCode.xcodeproj/project.xcworkspace/xcuserdata/Alfonso.xcuserdatad/UserInterfaceState.xcuserstate
