<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>testFactorial</key>
	<string>corgi testFactorial;

corgiRun() { 
	var fact:Int;
	var i: Int;
	fact = 1;
	i = 1;
	for i in 0...10 by 1 {
		fact = fact * i;
	}
	write(fact);
}</string>
	<key>Test Functions</key>
	<string>corgi test;
var i: Int;
var j: Int;

func uno(a:Int) -&gt; void { 
	var n : Int;
	n = a * 2; 
	case {  
		n &lt; a+4 : uno(a+1); 
	}
	write(i);
	return;
}

func dos(b:Int) -&gt; Int {
	b = b * i + j; 
	return (b*2);
}

corgiRun() { 
	i = 2;
	j = i * 2 - 1;
	uno(j);
	i = dos(i+j);
}</string>
	<key>Test Case</key>
	<string>corgi test;
var a : Int;
var b : Int;
var c : Int;
corgiRun() {
a = 2;
b = 3;
c = 1;
  case {
    a&gt;b: write(a);
    |a&gt;c: write(b);
    |else: write(c);
  }
}</string>
	<key>Test Loops</key>
	<string>corgi test;
var a : Int;

corgiRun() {
	a = 0;
	for a in 0...10 by 1 {
		write(&quot;Hello&quot;);
	}
}</string>
	<key>Test Assigments</key>
	<string>corgi test;
var a : Int;
var b : Int;
var c : Int;
corgiRun() {
a = 2;
b = 3;
c = 1;
}</string>
</dict>
</plist>
